@inject IDataAccess db
@inject IAllUsrs AllUsrs

<div style="display:flex">
	<a href="about">MasaTenisiOnline</a>
	<div style="font-weight:500;font-size:10px;transform:skewY(340deg);color: chartreuse;padding-left: 4px;">
		@ConnCnt
	</div>
	<div style="font-size:10px">@usrInf.Ad</div>
</div>

<div class="nav-links">
	<NavLink class="nav-link" href="" Match="NavLinkMatch.All" style="text-decoration: none">
		🏡
	</NavLink>

	<NavLink class="nav-link" href=@($"Szn/{@usrTkn}")>
		🌈
	</NavLink>

	<NavLink class="nav-link" href="oyn">
		👪
	</NavLink>

	@if (usrInf.Id > 0)
	{
		<NavLink class="nav-link" href="logout">
			🔒
		</NavLink>
		<NavLink class="nav-link" href="InpLig">
			✏️
		</NavLink>
	}
	else
	{
		<NavLink class="nav-link" href="login">
			🔑
		</NavLink>
	}
</div>


@code {
	[CascadingParameter] public required Usr Usr { get; set; }
	[Parameter] public string usrTkn { get; set; }

	public UsrInf usrInf { get; set; }
	public int ConnCnt { get; set; }


	protected override async Task OnInitializedAsync()
	{
		ConnCnt = AllUsrs.GetConnCnt();
		usrInf = AllUsrs.TryGetUsr(usrTkn);

		Usr.Ad = usrInf.Ad;
		Usr.IsAdm = usrInf.IsAdm;
		Usr.IsTnm = usrInf.IsTnm;
		Usr.IsSnc = usrInf.IsSnc;
		Usr.Id = usrInf.Id;
	}
}