@inject IScopedContainer ScpC
@inject ProtectedLocalStorage PLS
@inject NavigationManager Navigation
@rendermode @(new InteractiveServerRenderMode(prerender: false))

<NavLink class="nav-link" href="" Match="NavLinkMatch.All" style="text-decoration: none">
    🏡
</NavLink>

<NavLink class="nav-link" href="Szn">
    🌈
</NavLink>

<NavLink class="nav-link" href="Oyn">
    👪
</NavLink>

<NavLink class="nav-link" href="login">
    🔑
</NavLink>

<NavLink class="nav-link" href="InpLig">
    ✏️
</NavLink>


@*
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Bodved</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested" aria-hidden="true"></span> Weather
            </NavLink>
        </div>
    </nav>
</div>
 *@

@code {
    private int usrId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (!ScpC.IsOk)
        {
            UsrPLS lm = new();
            var toto = await PLS.GetAsync<UsrPLS>("pwd", "bodved");
            if (toto.Success)
            {
                lm = toto.Value;
            }
            if (!ScpC.CheckLogin(lm.usrid, lm.usrpwd))
                Navigation.NavigateTo("");
            usrId = ScpC.UsrId;
        }

    }
}