@inject IDataAccess db

@page "/"

<PageTitle>MasaTenisiOnline</PageTitle>

<div class="img-trns">
    <img src="images/bodved.jpg" />
</div>

<div class="wrapper-sub">
    <div class="wrapper-sub_header">Son Sezon Fikstürü</div>
    <main class="cards">
        <article class="card">
            <FksHafta Typ="B" Header="Bu Hafta" />
        </article>
        <article class="card">
            <FksHafta Typ="G" Header="Gelecek Hafta" />
        </article>
    </main>
</div>

@if (CCs != null)
{
    <div class="wrapper-sub">
        <div class="wrapper-sub_header">Son Sezon Lig Puan durumu</div>
        <main class="cards">
            @foreach (var rec in CCs)
            {
                <article class="card">
                    <TkmLig CCId="@rec.CCId" CCAd="@rec.Ad" />
                </article>
            }
        </main>
    </div>
}
<div class="wrapper-sub">
    <div class="wrapper-sub_header">Sezon Toplamları</div>
    <main class="cards">
        <article class="card">
            <SznStat />
        </article>
    </main>
</div>


@code {
    [CascadingParameter] public required Usr Usr { get; set; }

    IEnumerable<CC>? CCs;

    protected override async Task OnInitializedAsync()
    {
        CCs = db.LoadData<CC, dynamic>("select * from UI_Lig_SonSzn", new { });
    }

    private sealed class CC
    {
        public int CCId { get; set; }
        public string Ad { get; set; }
    }

}