@inject NavigationManager Navigation
@inject IScopedContainer ScpC
@inject IDataAccess db
@rendermode @(new InteractiveServerRenderMode(prerender: false))

@page "/InpLig"
<PageTitle>SonSezonTurnuvaları</PageTitle>

@* Lig girisleri ben yapacagim *@

<h3 style="background-color:gold">Son Sezon Turnuvaları</h3>

@if (ls != null)
{
    <table class="table-edit">
        <tr>
            <td colspan="4">
                <a href="InpRnkSzn">Oyuncu Başlangıç Rank</a>
            </td>
        </tr>
        @foreach (var r in ls)
        {
            <tr>
                <td class="text-center">@r.CCId</td>
                <td>@r.Ad</td>
                <td>
                    <a href="InpTkm/@r.CCId/@r.Ad">🏁</a>
                </td>
                <td>
                    <a href="InpFks/@r.CCId/@r.Ad">⏰</a>
                </td>
            </tr>
        }
    </table>
}
else
{
    <div>...</div>
}
<p> @Usr.Clicks </p>
<button @onclick="IncrementCount">Increment</button>


@code {
    [CascadingParameter] public required Usr Usr { get; set; }
    IEnumerable<LS>? ls;

    void IncrementCount() => Usr.Clicks++;  // Deneme

    protected override async Task OnInitializedAsync()
    {
        if (ScpC.IsOk)
            LoadData();
    }

     private void LoadData()
    {
        ls = db.LoadData<LS, dynamic>("select CCId,Ad from UI_LIG_SZN(0)", new { });
        StateHasChanged();
    }

    private sealed class LS
    {
        public int CCId { get; set; }
        public string Ad { get; set; }
    }

}
