@inject NavigationManager Nav
@inject IDataAccess db

@* @page "/login/{uexid:int}" *@
@page "/login"

<EditForm Model="@Model" OnSubmit="@Submit" FormName="Starship1">
	<table width="200px" class="m-auto">
		<tbody>
			<tr>
				<td class="border border-slate-300 text-right px-2">ID</td>
				<td class="border border-slate-300 text-right px-2"><InputNumber @bind-Value="Model.Id" /></td>
			</tr>
			<tr>
				<td class="border border-slate-300 text-right px-2">PWD</td>
				<td class="border border-slate-300 text-right px-2"><InputText @bind-Value="Model.Pwd" /></td>
			</tr>
			<tr>
				<td colspan="2" class="border border-slate-300 text-center"><button type="submit" class="bg-indigo-500 text-white rounded px-2 py-1">Submit</button></td>
			</tr>
		</tbody>
	</table>
</EditForm>

@code {

	[CascadingParameter]
	public HttpContext? context { get; set; }

	// [Parameter]
	// public int UEXId { get; set; } = default;

	[SupplyParameterFromForm]
	public LgnMdl? Model { get; set; }

	protected override void OnInitialized()
	{
		Model ??= new();
	}

	private void Submit()
	{
		// Logine geldiyse Guest dir
		Model.Tkn = context.Request.Cookies["bodved"];	

		//Model.Tkn = Guid.NewGuid().ToString("N");

		var usr = db.LoadRec<UsrInfDB, dynamic>("select * from LOGIN(@Id, @Pwd, @Tkn)", new { Id = Model.Id, Pwd = Model.Pwd, Tkn = Model.Tkn});

		if (usr?.PPId > 0)   // Logine Guest gelir. Tkn g ile başlar
		{
			Model.Tkn = Model.Tkn.Substring(1); // Tkn basından g harfini cıkart

			CookieOptions cookieOptions = new CookieOptions();
			cookieOptions.Secure = false;
			cookieOptions.MaxAge = TimeSpan.FromDays(10);   // Sure bitince browser silmiyor, ama null gonderiyor

			cookieOptions.HttpOnly = true;
			cookieOptions.SameSite = SameSiteMode.Strict;
			context.Response.Cookies.Append("bodved", Model.Tkn, cookieOptions);

			// Debug da hata gekiyeor RunTime da geçiyor
			Nav.NavigateTo("https://masatenisi.online");  // HATA https://github.com/dotnet/aspnetcore/issues/53040
																//Nav.NavigateTo("/lgn");  // HATA https://github.com/dotnet/aspnetcore/issues/49143
		}
	}

	public class LgnMdl
	{
		public int Id { get; set; }
		public string? Pwd { get; set; }
		public string? Tkn { get; set; }
	}
}