@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedLocalStorage PLS
@inject IScopedContainer ScpC
@inject ISingletonContainer SngC
@inject NavigationManager Navigation
@* @implements IDisposable *@
@rendermode @(new InteractiveServerRenderMode(prerender: false))

@page "/login"

<style>
    .lgn {
        display: grid;
        grid-template-columns: auto 100px;
        gap: 5px;
        margin: 1px;
    }

        .lgn .itm {
            padding: 0 6px;
            outline: 1px solid black;
        }

        .lgn .btn {
            grid-column: 1 / span 2;
            outline: 1px solid;
            background-color: cornflowerblue;
            color: aliceblue;
        }
</style>

<div class="lgn">
    <div class="itm">User#</div>
    <input type="text" @bind=usr.usrid class="itm" />
    <div class="itm">Pwd</div>
    <input type="password" @bind=usr.usrpwd class="itm" />
    <button class="btn" @onclick=LoginClck>LogIn</button>
</div>

@code {
    UsrPLS usr = new();
    string Msg { get; set; }

    private async Task LoginClck()
    {
        if (ScpC.CheckLogin(usr.usrid, usr.usrpwd))
        {
            SngC.Conns[ScpC.UsrGuid] = usr.usrid;
            
            await PLS.SetAsync("pwd", "bodved", usr);
            //CST.Msg = "Login başarılı";
            Navigation.NavigateTo("");
            
            // default force=false
            // lm.UsrUserName = null;
            // IDictionary<string, object> objDic = lm.AsDictionary();
            // foreach(var d in objDic)
            // {
            //     var aa = d.Key;
            //     var bb = d.Value;
            //     var cc = d.Value?.GetType();
            // }
            // var someObject = objDic.ToObject<LoginModel>();
        }
    }
}