@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedLocalStorage PLS
@inject IScopedContainer ScpC
@inject ISingletonContainer SngC
@inject NavigationManager Navigation
@page "/login"

<style>
    .lgn {
        display: grid;
        grid-template-columns: auto auto;
        gap: 5px;
        margin: 1px;
    }

        .lgn .itm {
            padding: 0 6px;
            outline: 1px solid black;
        }

        .lgn .btn {
            grid-column: 1 / span 2;
            outline: 1px solid;
        }
</style>

<h3>Login</h3>
<div class="lgn">
    <div class="itm">User#</div>
    <input type="text" @bind=usrid class="itm" />
    <div class="itm">Pwd</div>
    <input type="password" @bind=pwd class="itm" />
    <button class="btn" @onclick=LoginClck>LogIn</button>
</div>

@code {
    [CascadingParameter] CascadingScopeState CST { get; set; }
    int usrid = 0;
    int pwd = 0;

    private async Task LoginClck()
    {
        //SngC.Name = "Heyooooooo******";
        if (ScpC.CheckLogin(usrid, pwd))
        {
            LoginModel lm = new LoginModel { UsrId = usrid, UsrPwd = pwd };

            await PLS.SetAsync("pwd", "bodved", lm);

            //var vtg =  await PLS.GetAsync<LI>("pwd", "can");
            //if (vtg.Success)
            //{
                //li = vtg.Value;
            //}
         
            CST.Msg = "Login başarılı";
            Navigation.NavigateTo("");  // default force=false
        }
    }
}