@rendermode @(new InteractiveServerRenderMode(prerender: false))
@inject News News
@implements IDisposable

<h3>NewsListener DENEME</h3>

@code {
	protected override void OnInitialized()
	{
		News.OnChange += NewsChanged;   // Listen
	}

	public void NewsChanged(NewsModel news)  // Handler
	{
		if (news.FrmId == 1234)
		{
			InvokeAsync(StateHasChanged);
		}
	}

	public void Dispose()
	{
		News.OnChange -= NewsChanged;
	}
}
